In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st
import re
from nltk.corpus import stopwords

 # Задание 1

In [2]:
d = pd.read_csv('video_games_sales.csv', na_values = "NaN")

In [45]:
dz = pd.read_csv('video_games_sales.csv')

* 1) Как критики относятся к спортивным играм?
* Н0 - Средняя удовлетворенность критиков к играм в жанре спорт >= 7
* Н1 - Средняя удовлетворенность критиков к играм в жанре спорт менее 7

In [3]:
alpha = 0.05

In [41]:
df_sport = d[ d['Genre'] == 'Sports']
df_sport = df_sport[['Genre', 'Critic_Score']].dropna()

In [12]:
df_sport.mean()

Critic_Score    7.291424
dtype: float64

In [14]:
alpha = 0.05
result = st.ttest_1samp(df_sport['Critic_Score'], 7)
print(result)
if (result.statistic < 0) & (result.pvalue/2 < alpha):
    print('Отвергаем Н0, средняя удовлетворенность критиков к играм в жанре спорт < 7')
else:
    print('Не отвергаем Н0, Средняя удовлетворенность критиков к играм в жанре спорт > 7')

Ttest_1sampResult(statistic=5.197156914436623, pvalue=2.671410902970997e-07)
Не отвергаем Н0, Средняя удовлетворенность критиков к играм в жанре спорт > 7

2) Критикам нравятся больше игры на PC или на PS4?
* Н0  - критикам нравится больше PC(средняя удовлетворенность >7.7), чем PS4
* Н1 - критикам больше нравится PS4, чем PC

In [38]:
#g = d[ (d['Platform'] == 'PC') | (d['Platform'] == 'PS4')]
#game = g[['Platform', 'Critic_Score']]

In [46]:
game1 = d.loc[d['Platform'].isin(['PC'])]
game_PC = game1[['Platform', 'Critic_Score']]
#game_PC.dropna()
game_PC['Critic_Score'].replace('', np.nan, inplace=True)
game_PC.dropna(subset=['Critic_Score'], inplace=True)
game_PC.mean()
#game_PC[['Platform', 'Critic_Score']].dropna()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
<ipython-input-46-615a4ab034d5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_PC.dropna(subset=['Critic_Score'], inplace=True)

Critic_Score    7.54185
dtype: float64

In [47]:
game1 = d.loc[d['Platform'].isin(['PS4'])]
game_PS4 = game1[['Platform', 'Critic_Score']]
#game_PS4[['Platform', 'Critic_Score']].dropna()
game_PS4['Critic_Score'].replace('', np.nan, inplace=True)
game_PS4.dropna(subset=['Critic_Score'], inplace=True)
game_PS4.mean()

<ipython-input-47-e4f9004e57bd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_PS4.dropna(subset=['Critic_Score'], inplace=True)

Critic_Score    7.904587
dtype: float64

In [50]:
result = st.ttest_ind(game_PC['Critic_Score'], game_PS4['Critic_Score'], equal_var = False)
print(result)
if (result.pvalue < alpha):
                           print('Отвергаем Н0, критикам больше нравиться PS4')  
else:
                           print('Не отвергаем Н0, критикам больше нравиться PC')

Ttest_indResult(statistic=-2.7394476056351627, pvalue=0.006931808250254211)
Отвергаем Н0, критикам больше нравиться PS4

* 3) Критикам больше нравятся стрелялки или стратегии?
* Н0 - Критикам нравятся больше стратегии, средняя оценка за стратегии, выше, чем за стрелялки
* Н1 - Критикам нравятся стрелялки

In [72]:
game_st1 = d.loc[d['Genre'].isin(['Strategy'])]
game_st =  game_st1[['Genre', 'Critic_Score']]
game_st['Critic_Score'].replace('', np.nan, inplace=True)
game_st.dropna(subset=['Critic_Score'], inplace=True)

<ipython-input-72-f91e2e72866a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_st.dropna(subset=['Critic_Score'], inplace=True)

In [73]:
game_sh1 = d.loc[d['Genre'].isin(['Shooter'])]
game_shu =  game_sh1[['Genre', 'Critic_Score']]
game_shu['Critic_Score'].replace('', np.nan, inplace=True)
game_shu.dropna(subset=['Critic_Score'], inplace=True)

<ipython-input-73-a796b0a62ab4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  game_shu.dropna(subset=['Critic_Score'], inplace=True)

In [75]:
result = st.ttest_ind(game_st['Critic_Score'], game_shu['Critic_Score'], equal_var = False)
print(result)
if (result.pvalue < alpha) & (result.statistic < 0):
                           print('Отвергаем Н0, критикам нравятся стрелялки')  
else:
                           print('Не отвергаем Н0, критикам нравятся стратегии')

Ttest_indResult(statistic=1.6073949711166526, pvalue=0.10838786414223071)
Не отвергаем Н0, критикам нравятся стратегии

# Задание 2

In [2]:
dff = pd.read_csv('spam.txt')
dff

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
# Переводим в нижний регистр
dff['words'] = dff.Message.str.lower()

In [4]:
# уберем все служебные символы
dff['words'] = [re.sub('[\W_]+',' ', text) for text in dff['words']]

In [6]:
#Удалим стоп-слова
stopwords_set = set(stopwords.words('english'))
dff['words'] = [[word for word in text if word not in stopwords_set] for text in dff['words']]
dff

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, think, goes, usf, lives, around, though]"
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,"[2nd, time, tried, 2, contact, u, u, 750, poun..."
5568,ham,Will ü b going to esplanade fr home?,"[ü, b, going, esplanade, fr, home]"
5569,ham,"Pity, * was in mood for that. So...any other s...","[pity, mood, suggestions]"
5570,ham,The guy did some bitching but I acted like i'd...,"[guy, bitching, acted, like, interested, buyin..."
5571,ham,Rofl. Its true to its name,"[rofl, true, name]"

In [7]:
#Привидем все слова к нормальной форме
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
dff['words'] = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in dff['words']]
dff

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, think, go, usf, life, around, though]"
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,"[2nd, time, tried, 2, contact, u, u, 750, poun..."
5568,ham,Will ü b going to esplanade fr home?,"[ü, b, going, esplanade, fr, home]"
5569,ham,"Pity, * was in mood for that. So...any other s...","[pity, mood, suggestion]"
5570,ham,The guy did some bitching but I acted like i'd...,"[guy, bitching, acted, like, interested, buyin..."
5571,ham,Rofl. Its true to its name,"[rofl, true, name]"

In [11]:
# Обратно в строки
dff['words'] = dff.words.apply(lambda x: ' '.join(x))    
dff.head(3)

,Category,Message,words
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...

In [12]:
#Преобразуем все сообщения в вектора TF-IDF.
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(dff.words)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [18]:
tfidf_matrix['Message'] = dff['Message']     
tfidf_matrix['Category'] = dff['Category']
tfidf_matrix[['free', 'Message', 'Category']].head()

       free                                            Message Category
0  0.000000  Go until jurong point, crazy.. Available only ...      ham
1  0.000000                      Ok lar... Joking wif u oni...      ham
2  0.115769  Free entry in 2 a wkly comp to win FA Cup fina...     spam
3  0.000000  U dun say so early hor... U c already then say...      ham
4  0.000000  Nah I don't think he goes to usf, he lives aro...      ham

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [36]:
#Разделим данные на тестовые и тренировочные
from sklearn.model_selection import train_test_split
data_train, data_test = train_test_split(tfidf_matrix, test_size=0.3, random_state=42)

In [39]:
y_train = data_train['Category']
y_test = data_test[['Category', 'Message']]

del data_train['Category']
del data_test['Category']
del data_train['Message']
del data_test['Message']

In [40]:
#Построем модель логистической регрессии,
clf = LogisticRegression(random_state=42).fit(data_train, y_train)

In [41]:
clf.predict(data_test)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [51]:
#Построем датафрейм, который будет содержать все исходные тексты сообщений, 
#классифицированные неправильно (с указанием фактического и предсказанного).
result = pd.DataFrame([y_test['Category'].values, clf.predict(data_test), y_test['Message'].values]).T
result.columns = ['Start_category', 'Predicted', 'Message']
res_df = result[result['Start_category'] != result['Predicted']]
res_df

,Start_category,Predicted,Message
17,ham,spam,Hey now am free you can call me.
40,spam,ham,Reminder: You have not downloaded the content ...
47,spam,ham,Guess what! Somebody you know secretly fancies...
74,spam,ham,Oh my god! I've found your number again! I'm s...
84,spam,ham,Your next amazing xxx PICSFREE1 video will be ...
...,...,...,...
1525,spam,ham,FreeMsg Hi baby wow just got a new cam moby. W...
1567,spam,ham,You have an important customer service announc...
1569,spam,ham,TheMob> Check out our newest selection of cont...
1576,ham,spam,Are you free now?can i call now?
1586,spam,ham,SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...

In [48]:
cm = confusion_matrix(y_test['Category'].values, clf.predict(data_test))
print(f"Confusion_matrix: \n{cm}")
print(f"Точность предсказания: {(cm[0][0] + cm[1][1]) / len(result):.1%}")

Confusion_matrix:
[[1445    3]
 [  66  158]]
Точность предсказания: 95.9%